.btn_c {
  margin-left:25px;
  margin-top:10px;
}

.div_c {
  margin-left:25px;
  margin-top:20px;
}

table, th, td {
  border:1px solid black;
  width:100%;
}

th, td {
  padding:10px;
  text-align:left;
}
